<a href="https://github.com/{{ site.github_username }}" role='button' class='btn' target='_blank'>
  <i class='fab fa-github'></i> GitHub
</a>
<a href="https://linkedin.com/in/{{ site.linkedin_username }}" role='button' class='btn' target='_blank'>
  <i class='fab fa-linkedin'></i> Linked In
</a>
<!-- <a href="/assets/sebastian_mantilla_resume.pdf" role='button' class='btn' target='_blank'>
  <i class="far fa-file"></i> PDF Resume
</a> -->
<a href="mailto:{{ site.email }}" role='button' class='btn'>
  <i class='fas fa-envelope-square'></i> {{ site.email }}
</a>
<a href="tel:+1-778-998-2077" role='button' class='btn'>
  <i class='fas fa-phone-volume'></i> {{ site.telephone }}
</a>