<a name="about"></a>
<main class='site-about'>
  <article class='container'>
    <header class='section-header' id='about-header'>
      <i class="far fa-address-card"></i>About
    </header>
    <div class='row'>
      <div class='col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 profile'>
        <section class='bio'>
          <h1>{{ site.title }}</h1>
          <h2>{{ site.role }}</h2>
          <hr class='black-line'>
          <p>Technology enthusiast, entrepreneur and information technologies professional, 
              specialized in the development of complex, corporate applications and infrastructure. He has an integral 
              vision of the technical, business and human aspects of the work at hand. Committed to the highest 
              professional and human standards. He is computer literate and a creative thinker, he can also be deadline 
              oriented with effective prioritization and time management skills, he is usually self-motivated and a 
              team player. He is used to managing IT Infrastructure, no matter how complex it is, in a way that 
              provides high availability, flexibility and cost effective solutions and services to users, 
              institutions and companies.</p>
        </section>
      </div>
    </div>
  </article>
</main>