<a name="about"></a>
<main class='site-about'>
  <article class='container'>
    <hr class='section-divider'>
    <header class='section-header' id='about-header'>
      <i class="far fa-address-card"></i>About
    </header>
    <div class='row'>
      <img src='/assets/img/faceshot.png' alt='face pic'>
      <div class='col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 profile'>
        <section class='bio'>
          <h1>{{ site.title }}</h1>
          <h2>{{ site.role }}</h2>
          <hr class='red-line'>
          <p>{{ site.description }}</p>
        </section>
        <section class='contact d-flex flex-wrap justify-content-left'>
          {% include about-elements.html %}
        </section>
      </div>
    </div>
  </article>
</main>