<a name="education"></a>
<main class='site-education'>
  <article class='container'>
    <hr class='section-divider'>
    <header class='section-header' id='education-header'>
      <i class="fas fa-graduation-cap"></i>Education
    </header>

    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th><a style="cursor: pointer;">Certification</a></th>
          <th><a style="cursor: pointer;">Subject</a></th>
          <th><a style="cursor: pointer;">Date</a></th>
          <th class="hidden-sm hidden-xs" ><a style="cursor: pointer;">School</a></th>
        </tr>
      </thead>
      <tbody>
        <tr id="EducationData_2500">
          <td>Bachelor of Science (B.Sc.)</td>
          <td>Computer engineering</td>
          <td>1989 - 1993</td>
          <td class="hidden-sm hidden-xs" >National Autonomous University of Mexico</td>
        </tr>
        <tr id="EducationData_2500">
          <td>Diploma</td>
          <td>Supercomputing</td>
          <td>1992 - 1993</td>
          <td class="hidden-sm hidden-xs" >National Autonomous University of Mexico</td>
        </tr>
        <tr id="EducationData_2500">
          <td>Diploma</td>
          <td>Telecommunications</td>
          <td>1999 - 2000</td>
          <td class="hidden-sm hidden-xs" >National Autonomous University of Mexico</td>
        </tr>
        <tr id="EducationData_2500">
          <td>Diploma</td>
          <td>Management</td>
          <td>2000</td>
          <td class="hidden-sm hidden-xs" >Gustav Käser Training International</td>
        </tr>
        <tr id="EducationData_2500">
          <td>Boot Camp</td>
          <td>Web Development</td>
          <td>2018</td>
          <td class="hidden-sm hidden-xs" >Lighthouse Labs Vancouver</td>
        </tr>
      </tbody>
    </table>
  </article>
</main>