<a name="experience"></a>
<main class='site-experience'>
  <article class='container'>
    <hr class='section-divider'>
    <header class='section-header' id='experience-header'>
      <i class="fas fa-briefcase"></i>Experience
    </header>
    <article>
      <main class='container'>
        <div class='row'>
          <section class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 job-name'>
            <header class='company-name'>Greater Vancouver Systems</header>
            <main class='job-role'>Internet consultant</main>
            <footer>2007 - Present</footer>
          </section>
          <section class='col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 job-description'>
            <ul>
              <li>Quote, negotiate and provision servers for company and customers use. Bare metal and virtual servers.</li>
              <li>Install, configure, fine tune and monitor servers for the services the company provides (RHEL, Centos, Ubuntu).</li>
              <li>Work with different Infrastructure as a Service (IaaS) providers: Amazon AWS, IBM, Digital Ocean, Vultr, Linode, to provision infrastructure requirements.</li>
              <li>Install, configure either as standalone or in replication mode, fine tune and monitor MySQL servers.</li>
              <li>Define and implement security policies and practices for the servers under the company management. Including hardening, firewalls and application firewalls, IDP, and change monitoring.</li>
              <li>Identify, address and supervise reliability bottle necks such as performance, load or traffic.</li>
              <li>Write monitoring scripts that trigger alarms and initiate self-healing and recovery processes.</li>
              <li>Perform root cause analysis and develop checklists and solutions for typical problems.</li>
              <li>Recommend procedures and controls for problem prevention.</li>
            </ul>
          </section>
        </div>
      </main>
    </article>

    <article>
        <main class='container'>
          <div class='row'>
            <section class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 job-name'>
              <header class='company-name'>Internet de Alta Calidad</header>
              <main class='job-role'>Director</main>
              <footer>1996 - Present</footer>
            </section>
            <section class='col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 job-description'>
              <ul>
                  <li>Architect, code and implement and maintain web sites for the company and its customers.</li>	
                  <li>Define, implement and monitor digital strategies for the company and its customers.</li>
                  <li>Implement eCommerce solutions using WordPress and WooCommerce.</li>
                  <li>Implement eCommerce solutions using Drupal and Drupal Commerce.</li>
                  <li>Provide infrastructure for virtual education using Moodle.</li>
                  <li>Develop LAMP systems for the company and its customers.</li>
                  <li>Create and interact with incidents on the company´s internal ticketing system.</li>
                  <li>Establish a VoIP network to support operations in Mexico.</li>
                  <li>Compile, install and monitor Java based systems for GPS tracking, including both web based services and background data capturing processes.</li>
                  <li>Provide desktop and remote support for different clients. Remote support provided through VNC, Windows Remote Desktop.</li>
                  <li>Perform data backups and disaster recovery operations.</li>
              </ul>
            </section>
          </div>
        </main>
      </article>

      
      <article>
          <main class='container'>
            <div class='row'>
              <section class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 job-name'>
                <header class='company-name'>Banco del Bajio</header>
                <main class='job-role'>Consultant</main>
                <footer>1996 - 2003</footer>
              </section>
              <section class='col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 job-description'>
                <ul>
                    <li>Defined and implemented the Internet Banking platform.</li>
                    <li>Planned and supervised the infrastructure for Internet Banking.</li>
                    <li>Coordinated the definition of the infrastructure for Internet Banking from architecture, to servers including operating systems, QA practices, source control tools, servers installation, deployment and management.</li>
                    <li>Personalized and built a custom Linux distribution for the Internet Banking platform including installation servers, web servers, database servers, DNS servers.</li>
                    <li>10x Internet Banking customer’s growth.</li>
                </ul>
              </section>
            </div>
          </main>
        </article>      
  </article>
</main>