<a name="skills"></a>
<main class='site-skills'>
  <article class='container'>
    <hr class='section-divider'>
    <header class='section-header' id='skills-header'>
      <i class="fas fa-code"></i>Skills
    </header>
    <section class="bio">
      <p>Sebastian Mantilla is an individual with the ability to adapt quickly to changing priorities, he can multitask,  execute and plan strategies, work with all levels of management and also has analytical skills. 
          Through his practice managing networks and servers he has become fluent in the installation, configuration and monitoring of services such as IMAP, SMTP, DHCP, DNS, FTP, SSH, email, firewalls, application firewalls, web servers, database servers (MySQL and PostgreSQL). He has also developed scripts in bash to processes including generating alerts.
          When developing applications he has used PHP, Java, HTML, CSS and Javascript to deliver functional and efficient solutions to business needs.
          For his everyday activities he uses office suites such as Microsoft Office (Word, Excel, Power Point) and Google Apps, in a way that it leverages all the functionality and benefits that each of them have.
          </p>
    </section>
    {% include skills-elements.html %}
  </article>
</main>