<div class="d-flex flex-wrap justify-content-center">
  <section class='languages'>
    <header>Languages</header>
    <div class="d-flex flex-wrap justify-content-center">
      <article>
        <p>Javascript</p>
        <img src='/assets/img/skills/Javascript.png'>
      </article>
      <article>
        <p>React</p>
        <img src='/assets/img/skills/React.png'>
      </article>
      <article>
        <p>Ruby</p>
        <img src='/assets/img/skills/Ruby.png'>
      </article>
      <article>
        <p>Python</p>
        <img src='/assets/img/skills/Python.png'>
      </article>
      <article>
        <p>PHP</p>
        <img src='/assets/img/skills/PHP.png'>
      </article>
      <article>
        <p>R</p>
        <img src='/assets/img/skills/R.png'>
      </article>
      <article>
        <p>CSS</p>
        <img src='/assets/img/skills/CSS.png'>
      </article>
      <article>
        <p>Sass</p>
        <img src='/assets/img/skills/Sass.png'>
      </article>
      <article>
        <p>HTML</p>
        <img src='/assets/img/skills/HTML.png'>
      </article>
    </div>
  </section>

  <section class='frameworks'>
    <header>Frameworks</header>
    <div class="d-flex flex-wrap justify-content-left">
      <article>
        <p>NodeJS</p>
        <img src='/assets/img/skills/Node.png'>
      </article>
      <article>
        <p>Rails</p>
        <img src='/assets/img/skills/Rails.png'>
      </article>
      <article>
        <p>ExpressJS</p>
        <img src='/assets/img/skills/Express.png'>
      </article>
      <article>
        <p>Bootstrap</p>
        <img src='/assets/img/skills/Bootstrap.png'>
      </article>
    </div>
  </section>

  <section class='databases'>
    <header>Databases</header>
    <div class="d-flex flex-wrap justify-content-left">
      <article>
        <p>PostgreSQL</p>
        <img src='/assets/img/skills/Postgres.png'>
      </article>
      <article>
        <p>MongoDB</p>
        <img src='/assets/img/skills/MongoDB.png'>
      </article>
      <article>
        <p>MySQL</p>
        <img src='/assets/img/skills/MySQL.png'>
      </article>
    </div>
  </section>

  <section class='testing'>
    <header>Testing</header>
    <div class="d-flex flex-wrap justify-content-left">
      <article>
        <p>Mocha&Chai</p>
        <img src='/assets/img/skills/mocha_chai.png'>
      </article>
      <article>
        <p>RSpec</p>
        <img src='/assets/img/skills/RSpec.png'>
      </article>
    </div>
  </section>
</div>