<div class="d-flex flex-wrap justify-content-center">

  <section class='os'>
    <header>Operating systems</header>
    <div class="d-flex flex-wrap justify-content-center">
      <article>
        <p>RedHat</p>
        <img src='/assets/img/skills/redhat.png'>
      </article>
      <article>
        <p>Ubuntu</p>
        <img src='/assets/img/skills/ubuntu.png'>
      </article>
      <article>
        <p>Centos</p>
        <img src='/assets/img/skills/centos.png'>
      </article>
    </div>
  </section>

  <section class='iaas'>
      <header>Cloud</header>
      <div class="d-flex flex-wrap justify-content-center">
        <article>
          <p>AWS</p>
          <img src='/assets/img/skills/aws.png'>
        </article>
        <article>
          <p>Heroku</p>
          <img src='/assets/img/skills/heroku.png'>
        </article>
        <article>
            <p>DO</p>
            <img src='/assets/img/skills/do.png'>
          </article>
      </div>
    </section>

  <section class='languages'>
    <header>Languages</header>
    <div class="d-flex flex-wrap justify-content-center">
      <article>
        <p>Javascript</p>
        <img src='/assets/img/skills/Javascript.png'>
      </article>
      <article>
        <p>PHP</p>
        <img src='/assets/img/skills/PHP.png'>
      </article>
      <article>
        <p>HTML</p>
        <img src='/assets/img/skills/HTML.png'>
      </article>
      <article>
        <p>CSS</p>
        <img src='/assets/img/skills/CSS.png'>
      </article>
      <article>
        <p>Sass</p>
        <img src='/assets/img/skills/Sass.png'>
      </article>
      <article>
        <p>Bootstrap</p>
        <img src='/assets/img/skills/Bootstrap.png'>
      </article>
    </div>
  </section>

  <section class='frameworks'>
    <header>Frameworks</header>
    <div class="d-flex flex-wrap justify-content-left">
      <article>
        <p>NodeJS</p>
        <img src='/assets/img/skills/Node.png'>
      </article>
      <article>
        <p>ExpressJS</p>
        <img src='/assets/img/skills/Express.png'>
      </article>
    </div>
  </section>

  <section class='databases'>
    <header>Databases</header>
    <div class="d-flex flex-wrap justify-content-left">
      <article>
        <p>MySQL</p>
        <img src='/assets/img/skills/MySQL.png'>
      </article>
      <article>
        <p>PostgreSQL</p>
        <img src='/assets/img/skills/Postgres.png'>
      </article>
      <article>
        <p>MongoDB</p>
        <img src='/assets/img/skills/MongoDB.png'>
      </article>
    </div>
  </section>
</div>