main.site-about {
  padding-top: 2em;
  article.container {
    header#about-header {
      @extend %header-style;
    }
    div.row {
      // border:1px red solid;
      padding: 15px;
      /* vertically align img and profile*/
      display: flex;
      align-items: center;
      img {
        margin: 0 auto;
        width: $facepic-length;
        height: $facepic-length;
        border-radius: 140px;
      }
      div.profile {
        /* this margin should be noticeable when pic goes on top of bio */
        margin-top: 15px;
      }
      section.bio {
        h1,
        h2 {
          margin: 0;
        }
        h1 {
          @extend %title-style;
        }
        h2 {
          @extend %sub-title-style;
        }
        p {
          @extend %para-style;
        }
      }
      a.btn {
        font-family: $label-font;
        font-size: 1em;
        display: inline-block;
        margin: 0 0.5em 0.5em 0;
        padding: 0.3em;
        background-color: $btn-color;
        color: white;
      }
    }
  }
}

main.site-experience {
  header#experience-header {
    @extend %header-style;
  }
  main.container {
    section.job-name {
      margin: $exp-top-bott-margin;
      @extend %sub-title-style;
      text-align: right;
      border-right: 2px $timeline-color solid;
      header.company-name {
        font-weight: 800;
      }
      main.job-role {
        font-weight: 400;
      }
    }
    section.job-description {
      margin: $exp-top-bott-margin;
      @extend %para-style;
    }
    @media (max-width: 575px) {
      section.job-name {
        text-align: left;
        margin-left: 0;
        border-right: none;
        border-left: 2px $timeline-color solid;
      }
    }
  }
}

main.site-education {
  margin-right: 40px;
  header#education-header {
    @extend %header-style;
  }
  main.container {
    section.edu-name {
      margin: $exp-top-bott-margin;
      @extend %sub-title-style;
      text-align: right;
      border-right: 2px $timeline-color solid;
      header.edu-degree {
        font-weight: 800;
      }
      main.fac-name {
        font-weight: 400;
        // font-size: 1.1em;
      }
    }
    section.edu-description {
      margin: $exp-top-bott-margin;
      @extend %sub-title-style;
      span.badge{
        font-size: 15px;
        margin: 1px 1px 1px 0;
      }
      header.edu-degree {
        font-weight: 800;
      }
      main.fac-name {
        font-weight: 400;
        // font-size: 1.1em;
      }
    }
    @media (max-width: 575px) {
      section.edu-name {
        text-align: left;
        margin-left: 0;
        border-right: none;
        border-left: 2px $timeline-color solid;
      }
    }
  }
}

main.site-skills {
  header#skills-header {
    @extend %header-style;
  }
  div.d-flex {
    margin: 1em 0;
    text-align: center;
    header {
      @extend %sub-title-style;
      font-weight: 800;
    }
    article {
      margin: 0.3em;
      padding: 0.4em;
      border-radius: 1em;
      background-color: white;
      p {
        margin: 0 0 0.5em;
        font-family: $label-font;
        font-weight: 800;
        font-size: 0.9em;
      }
      img {
        @extend %skill-img;
      }
    }
    section.os article {
      @include stylise-border(1.7px, #226491);
    }
    section.iaas article {
      @include stylise-border(1.7px, #146e2b);
    }
    section.languages article {
      @include stylise-border(1.7px, #f5c6cb);
    }
    section.frameworks article {
      @include stylise-border(1.7px, #b8daff);
    }
    section.databases article {
      @include stylise-border(1.7px, #c3e6cb);
    }
    section.testing article {
      @include stylise-border(1.7px, #c6c8ca);
    }
  }
}
